Repository acm-uic/IaC, pull requests merged in 2020-11, with the labels that each got.

#5 🍂 Fall Cleaning
  1_ipxe_server/coreos_updater/README.md
  1_ipxe_server/coreos_updater/coreos_updater.service
  1_ipxe_server/coreos_updater/coreos_updater.timer
  kubernetes/cni.yml
  kubernetes/inventory/acmapp.cfg
  kubernetes/kubectl.yml
  kubernetes/kubernetes.yml
  kubernetes/python.yml
  kubernetes/setenv.yml
Labels: 🧹meta

#4 ✨🤖 add ansible tasks to create a k8s cluster on vsphere
  ansible-k8s-vsphere/tasks/main.yml
  ansible-k8s-vsphere/templates/cluster.j2
  ansible-k8s-vsphere/templates/ova_spec.j2
  ansible-k8s-vsphere/templates/user-data.j2
Labels: ✨enhancement, 🤖ansible

#6 📃 Jira Helm Chart 🧩
  helm_charts/jira/.helmignore
  helm_charts/jira/Chart.yaml
  helm_charts/jira/templates/NOTES.txt
  helm_charts/jira/templates/_helpers.tpl
  helm_charts/jira/templates/deployment.yaml
  helm_charts/jira/templates/ingress.yaml
  helm_charts/jira/templates/pvc.yaml
  helm_charts/jira/templates/service.yaml
  helm_charts/jira/templates/serviceaccount.yaml
  helm_charts/jira/values.yaml
Labels: ⛵helm, ✨enhancement
